target/
!.mvn/wrapper/maven-wrapper.jar
### IntelliJ IDEA ###
.idea
*.log
*.iml
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode
.temp
/doc/v.txt
/fast-admin/src/test/java/**
/fast-admin/src/main/resources/application-Test.yml
/fast-admin/src/main/resources/license/**
/fast-admin/src/main/resources/application-Test.yml
/fast-admin/src/main/resources/application-Dev.yml
dbmysqlgen
*.erm
*.lck
/bin/
