<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.web.test.mapper.ExampleTestChildMapper">

    <!--  实体栏位  --> 
    <sql id="exampleTestChildColumns">
         a.id AS "id" ,
         a.test_id AS "testId" ,
         a.work_company AS "workCompany" ,
         a.start_time AS "startTime" ,
         a.end_time AS "endTime" ,
         a.jobs AS "jobs" 
    </sql>

    <!--  根据主键获取实体   -->
    <select id="findExampleTestChildById"  resultType="com.j2eefast.web.test.entity.ExampleTestChildEntity" >
        SELECT
        <include refid="exampleTestChildColumns"/>
		FROM  example_test_child a
		WHERE a.id = #{id}
    </select>

    <!--  根据获取实体List   -->
    <select id="findList" resultType="com.j2eefast.web.test.entity.ExampleTestChildEntity">
        SELECT
        <include refid="exampleTestChildColumns"/>
        FROM example_test_child a
		<where>
        </where>
    </select>

    <!-- 根据获取实体 page -->
    <select id="findPage" resultType="com.j2eefast.web.test.entity.ExampleTestChildEntity">
        SELECT
        <include refid="exampleTestChildColumns"/>
        FROM example_test_child a
        <where>
            <if test = "sql_filter !=null and sql_filter!=''">
                AND ${sql_filter}
            </if>
        </where>
    </select>

</mapper>