<!--提示浏览器使用情况 -->
<div class="login__ie_compatible">
    <span class="text">建议使用</span>
    <img src="${ctxStatic}/static/img/login/_chrome.png" class="icon"/>
    <span class="text">Chrome、</span>
    <img src="${ctxStatic}/static/img/login/_firefox.png" class="icon"/>
    <span class="text">火狐、</span>
    <img src="${ctxStatic}/static/img/login/_safari.png" class="icon"/>
    <span class="text">Safari浏览器</span>
</div>
<div class="login__ie_compatible">
    <span class="text">或</span>
    <img src="${ctxStatic}/static/img/login/_360.png" class="icon"/>
    <span class="text">360、</span>
    <img src="${ctxStatic}/static/img/login/_sougou.png" class="icon"/>
    <span class="text">搜狗、</span>
    <img src="${ctxStatic}/static/img/login/_qq.png" class="icon"/>
    <span class="text">QQ浏览器</span>
    <img src="${ctxStatic}/static/img/login/6aec2b8.png" class="icon"/>
    <span class="text">极速模式</span>
<#--    </br>-->
<#--    (请使用 1280*960 以上分辨率浏览本网站)-->
</div>