${gen_copyright}
<<@>include "/common/defaultEngine.html"/>
${pageTheme}
#set($selectPage_="0")
#foreach($column in $columns)
#if($column.htmlType == "addr")
#set($selectPage_="1")
#break
#end
#end
#if($menuName != '')
<@header title="${menuName}" bodyClass="white-bg" libs=["bootstrapSelect"#if($table.rFile),"fileupload"#end#if($selectPage_ == "1"),"selectPage"#end]/>
#else
<@header title="新增${functionName}" bodyClass="white-bg" libs=["bootstrapSelect"#if($table.rFile),"fileupload"#end#if($selectPage_ == "1"),"selectPage"#end]/>
#end
<div class="wrapper wrapper-content ibox-content">
<@f.form id="form-${businessName}-add"  class="form-horizontal">
#set($compId_="")
#foreach($column in $columns)
#set($field=$column.javaField)
#if($column.insert && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($dictType=$column.dictType)
#if($column.htmlType == "input")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end        <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.input name="${field}" #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#elseif($column.htmlType == "icon")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end        <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <div class="input-group">
                <@f.iconselect name="${field}" placeholder="选择图标" #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
            </div>
        </div>
    </div>
#elseif($column.htmlType == "imgcup")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <div class="input-group">
                <@f.imageclip name="${field}"/>
            </div>
        </div>
    </div>
#elseif($column.htmlType == "select" && "" != $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.select name="${field}" dictType="${dictType}"  #if($column.required) required=true#end  multiple="true" #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#elseif($column.htmlType == "select" && $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                <option value="">所有</option>
            </select>
            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
        </div>
    </div>
#elseif($column.htmlType == "dselect" && "" != $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.select name="${field}" dictType="${dictType}"  #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#elseif($column.htmlType == "dselect" && $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <select name="${field}" class="form-control m-b"#if($column.required) required#end>
                <option value="">所有</option>
            </select>
            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
        </div>
    </div>
#elseif($column.htmlType == "radio" && "" != $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.radio name="${field}" dictType="${dictType}" #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#elseif($column.htmlType == "radio" && $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
    #if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
              <<@>list dict.getType('${dictType}')>
                <<@>items as d>
                    <div class="radio-box">
                        <input type="radio" id="${field}" name="${field}" value="${d.dictValue}"
                               <<@>if d.dictValue == ${className}.${field}?default("") >checked</<@>if> #if($column.required) required#end/>
                        <label for="${(d.id)?default('')}">${d.dictLabel}</label>
                    </div>
                </<@>items>
            </<@>list>
        </div>
    </div>
 #elseif($column.htmlType == "checkbox" && "" != $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
           <@f.checkbox name="${field}" dictType="${dictType}"  #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
 #elseif($column.htmlType == "checkbox" && $dictType)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
              <<@>list dict.getType('${dictType}')>
              <#assign ${field}List = ${className}.${field}?default("")?split(",") />
                <<@>items as d>
                   <<@>if d.status =='0' >
                            <label><input type="checkbox" id="${field}_${(d.id)?default('')}" name="${field}"
                                   value="${d.dictValue}" <<@>if ${field}List?seq_contains(d.dictValue) >checked</<@>if>>
                            <label for="${(d.id)?default('')}" text="${d.dictLabel}">${d.dictLabel}</label></label>
                    </<@>if>
                </<@>items>
           </<@>list>
        </div>
    </div>
#elseif($column.htmlType == "datetime")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.input name="${field}" type="date" dataType="date" dataFormat="yyyy-MM-dd"
                 butClass="fa fa-fw fa-calendar" #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#elseif($column.htmlType == "textarea")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.textarea name="${field}" #if($column.required) required=true#end/>
        </div>
    </div>
#elseif($column.htmlType == "dept")
     <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
             <@f.treeselect name="${field}" boxTitle="请选择管理地区" url="sys/dept/selectZtree"
             correlationId="${compId_}" isSelectParent=true placeholder="请选择管理地区" #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
     </div>
#elseif($column.htmlType == "addr")
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <@f.selectLinkage name="${field}"/>
        </div>
    </div>
#elseif($column.htmlType == "comp")
#set($compId_ = $field)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
    #end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
              <@f.treeselect  name="${field}" boxTitle="选择归属公司" url="sys/comp/treeData?type=0"
              expandLevel=true  placeholder="请选择归属公司" #if($column.required) required=true#end #if($column.info && $column.info !="")#if($column.circleType == "R")helpTip="${column.editInfo}"#end#end/>
        </div>
    </div>
#else
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
#if($column.required)
            <span style="color: red; ">* </span>
#end
            <$>{i18n("${comment}")}：
        </label>
        <div class="col-sm-8">
            <input name="${field}" class="form-control" type="text"#if($column.required) required#end>
#if($column.required && $column.info)
#if($column.circleType == "R")
             <span class="help-block m-b-none"><i class="fa fa-info-circle" style="color: red"></i>${column.editInfo}</span>
#end
#end
        </div>
    </div>
#end
#end
#end
#end
#if($table.rImg)
   <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
#if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
            <$>{i18n("附件图片上传")}：
        </label>
        <div class="col-sm-8">
            <@f.fileupload name="upload_img" bizType="${tableName}_img" isLazy=true preview="true" uploadType="image"/>
        </div>
   </div>
#end
#if($table.rFile)
    <div class="form-group">
        <label class="col-sm-3 control-label">
#if($column.info && $column.info !="")
    #if($column.circleType == "Q")
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="${column.editInfo}">
                <i class="fa fa-question-circle-o" style="color: orange"></i>
            </a>
#elseif($column.circleType == "T")
            <i class="fa fa-question-circle-o" title="${column.editInfo}"></i>
#end
#end
            <$>{i18n("附件上传")}：
        </label>
        <div class="col-sm-8">
            <@f.fileupload name="upload_file" bizType="${tableName}_file" isLazy=true preview="true" uploadType="all"/>
        </div>
    </div>
#end
</@f.form>
</div>
<@footer>
<script type="text/javascript">
    var prefix = baseURL + "${moduleName}/${businessName}"
    /**表单验证*/
    <@compress single_line=true>
    $("#form-${businessName}-add").validate({
#set($fFlag = -1)
#foreach ($column in $columns)
#if($column.validation && ($column.validation.indexOf("V") != -1 || $column.validation.indexOf("P") != -1
|| $column.validation.indexOf("N") != -1 || $column.validation.indexOf("R") != -1
|| $column.validation.indexOf("J") != -1 || $column.validation.indexOf("Z") != -1
|| $column.validation.indexOf("Y") != -1 || $column.validation.indexOf("S") != -1
|| $column.validation.indexOf("I") != -1 || $column.validation.indexOf("H") != -1
|| $column.validation.indexOf("A") != -1)
)
#set($fFlag = $fFlag+1)
#break
#end
#end
#if($fFlag != -1)
        onkeyup: false,
        rules:{
#foreach ($column in $columns)
#if($column.validation && $column.insert)
#set($field = $column.javaField.substring(0,1).toUpperCase() + $column.javaField.substring(1))
#if($column.validation.indexOf("V") != -1 || $column.validation.indexOf("P") != -1
||$column.validation.indexOf("N") != -1 || $column.validation.indexOf("R") != -1
|| $column.validation.indexOf("J") != -1 || $column.validation.indexOf("Z") != -1
|| $column.validation.indexOf("Y") != -1 || $column.validation.indexOf("S") != -1
|| $column.validation.indexOf("I") != -1 || $column.validation.indexOf("H") != -1
|| $column.validation.indexOf("A") != -1
)
            $column.javaField: {
#if($column.validation.indexOf("N") != -1)
                digits:true,
#end
#if($column.validation.indexOf("P") != -1)
                isMobile:true,
#end
#if($column.validation.indexOf("R") != -1)
                date:true,
#end
#if($column.validation.indexOf("Y") != -1)
                email:true,
#end
#if($column.validation.indexOf("Z") != -1)
                isABC:true,
#end
#if($column.validation.indexOf("J") != -1)
                decimalsValue:true,
#end
#if($column.validation.indexOf("I") != -1)
                isIp:true,
#end
#if($column.validation.indexOf("S") != -1)
                isIdentity:true,
#end
#if($column.validation.indexOf("H") != -1)
                isName:true,
#end
#if($column.validation.indexOf("A") != -1)
                alnum:true,
#end
#if($column.validation.indexOf("V") != -1)
                remote: {
                        url: prefix + "/check${field}Unique",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "$column.javaField": function() {
                                return opt.common.trim($("#$column.javaField").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return opt.validate.unique(data);
                        }
                }
#end
            },
#end
#end
#end
        },
#end
        focusCleanup: true
    });
    </@compress>

    function submitHandler() {
        if (opt.validate.form()) {
            opt.operate.save(prefix + "/add", $('#form-${businessName}-add').serialize());
        }
    }
</script>
</@footer>
</@pageTheme>