${gen_copyright}
<<@>include "/common/defaultEngine.html"/>
${pageTheme}
#if($menuName != '')
<@header title="${menuName}" bodyClass="gray-bg animated fadeInRight" isAnimation=false libs=["table","zTree"]/>
#else
<@header title="${functionName}列表" bodyClass="gray-bg animated fadeInRight" isAnimation=false libs=["table","zTree"]/>
#end
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <@f.form id="${businessName}-form">
                <div class="select-list">
                    <ul>
## 判断查询数量
#set($queryTag = 0)
#foreach($column in $columns)
#if($column.query)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.htmlType == "input")
                        <li>
                            <label> <$>{i18n("${comment}")}：</label>
#if($column.queryType == "BETWEEN")
                            <input type="text"  placeholder="begin" name="begin${AttrName}"/><span>-</span> <input type="text"  placeholder="${comment}" name="end${AttrName}"/>
#else
                            <@f.input placeholder="${comment}" name="${column.javaField}"/>
#end
                        </li>
#elseif($column.htmlType == "select" || $column.htmlType == "radio" && "" != $column.dictType)
                        <li>
                            <label> <$>{i18n("${comment}")}： </label>
                            <@f.select name="${column.javaField}" dictType="${column.dictType}" blankValue="" blankLabel="所有"/>
                        </li>
#elseif($column.htmlType == "select" || $column.htmlType == "radio" && $column.dictType)
                        <li>
                            <label> <$>{i18n("${comment}")}： </label>
                            <select name="${column.javaField}">
                            <option value="">所有</option>
                            </select>
                        </li>
#elseif($column.htmlType == "datetime")
                        <li class="select-time">
                            <label> <$>{i18n("${comment}")}： </label>
#if($column.queryType == "BETWEEN")
                            <input type="text" class="form-control time-input" placeholder="开始时间" name="begin${AttrName}"/>
                            <span>-</span>
                            <input type="text" class="form-control time-input" placeholder="结束时间" name="end${AttrName}"/>
#else
                            <input type="text" class="form-control time-input" placeholder="" name="${AttrName}"/>
#end
                        </li>
#elseif($column.htmlType == "comp")
                        <li>
                            <label> <$>{i18n("${comment}")}：</label>
                            <@f.treeselect name = "${column.javaField}"  boxTitle="选择归属公司" url="sys/comp/treeData" expandLevel=true  placeholder="请选择归属公司"/>
                        </li>
#end
#set($queryTag = $queryTag+1)
#if($queryTag == 4)
#break
#end
#end
#end
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;&nbsp;<@ctx.i18n text = "查询"/></a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="opt.form.reset()"><i class="fa fa-refresh"></i>&nbsp;<@ctx.i18n text = "重置"/></a>
#if($columnsIsQueryNum > 4)
                            <a class="btn btn-default btn-rounded btn-sm" data-toggle="formMore"><i class="fa fa-angle-double-down"></i>&nbsp;<@ctx.i18n text = "更多"/></a>
#end
                        </li>
                    </ul>
                </div>
#if($columnsIsQueryNum > 4)
                <div class="select-list-more">
                    <ul>
#set($queryTag = 0)
#foreach($column in $columns)
#if($column.query)
#set($queryTag = $queryTag+1)
#if($queryTag > 4)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.htmlType == "input")
                        <li>
                            <label> <$>{i18n("${comment}")}：</label>
#if($column.queryType == "BETWEEN")
                            <input type="text"  placeholder="begin" name="begin${AttrName}"/><span>-</span> <input type="text"  placeholder="${comment}" name="end${AttrName}"/>
#else
                            <@f.input placeholder="${comment}" name="${column.javaField}"/>
#end
                        </li>
#elseif($column.htmlType == "select" || $column.htmlType == "radio" && "" != $column.dictType)
                        <li>
                            <label> <$>{i18n("${comment}")}： </label>
                            <@f.select name="${column.javaField}" dictType="${column.dictType}" blankValue="" blankLabel="所有"/>
                        </li>
#elseif($column.htmlType == "select" || $column.htmlType == "radio" && $column.dictType)
                        <li>
                            <label> <$>{i18n("${comment}")}： </label>
                            <select name="${column.javaField}">
                            <option value="">所有</option>
                            </select>
                        </li>
#elseif($column.htmlType == "datetime")
                        <li class="select-time">
                            <label> <$>{i18n("${comment}")}： </label>
#if($column.queryType == "BETWEEN")
                            <input type="text" class="form-control time-input" placeholder="开始时间" name="begin${AttrName}"/>
                            <span>-</span>
                            <input type="text" class="form-control time-input" placeholder="结束时间" name="end${AttrName}"/>
#else
                            <input type="text" class="form-control time-input" placeholder="" name="${AttrName}"/>
#end
                        </li>
#elseif($column.htmlType == "comp")
                        <li>
                            <label> <$>{i18n("${comment}")}：</label>
                            <@f.treeselect name = "${column.javaField}"  boxTitle="选择归属公司" url="sys/comp/treeData" expandLevel=true  placeholder="请选择归属公司"/>
                        </li>
#end
#end
#end
#end
                    </ul>
                </div>
#end
            </@f.form>
        </div>
        <@table id="bootstrap-table">
#if($table.crud || $table.master)
            <@shiro.hasPermission name="${permissionPrefix}:add">
                <a class="btn btn-success" onclick="#if($table.target == "tab")opt.operate.addTab()#else opt.operate.add()#end"><i class="fa fa-plus"></i>&nbsp;<$>{i18n("新增")}</a>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="${permissionPrefix}:edit">
                <a class="btn btn-primary single disabled" onclick="#if($table.target == "tab")opt.operate.editTab()#else opt.operate.edit()#end"><i class="fa fa-pencil-square-o"></i>&nbsp;<$>{i18n("修改")}</a>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="${permissionPrefix}:del">
                <a class="btn btn-danger multiple disabled" onclick="opt.operate.delAll()"><i class="fa fa-remove"></i> <$>{i18n("删除")}</a>
            </@shiro.hasPermission>
#elseif($table.r && $table.rDel)
            <@shiro.hasPermission name="${permissionPrefix}:del">
                <a class="btn btn-danger multiple disabled" onclick="opt.operate.delAll()"><i class="fa fa-remove"></i> <$>{i18n("删除")}</a>
            </@shiro.hasPermission>
#end
        </@table>
    </div>
</div>
<@footer>
<script type="text/javascript">
#if($table.crud || $table.master)
    var editFlag = "<$>{permission.hasPermi("${permissionPrefix}:edit")}";
    var listFlag = "<$>{permission.hasPermi("${permissionPrefix}:add")}";
    var delFlag = "<$>{permission.hasPermi("${permissionPrefix}:del")}";
    var visible = <$>{permission.isPermitteds("${permissionPrefix}:edit,${permissionPrefix}:del,${permissionPrefix}:add")?string('true', 'false')};
#elseif($table.r && $table.rDel)
    var delFlag = "<$>{permission.hasPermi("${permissionPrefix}:del")}";
    var visible = <$>{permission.isPermitteds("${permissionPrefix}:del")?string('true', 'false')};
#end
###foreach($column in $columns)
###if(${column.dictType} && ${column.dictType} != '')
##    var ${column.javaField}Datas = <$>{dict.getDictListJson('${column.dictType}')};
###end
###end
    var prefix = baseURL + "${moduleName}/${businessName}";

    $(function() {
        var options = {
            url: prefix + "/list",
#if($table.crud || $table.master)
            addUrl: prefix + "/add",
            editUrl: prefix + "/edit/{id}",
            delUrl: prefix + "/del",
            modalName: "<$>{i18n("${menuName}")}",
#elseif($table.r && $table.rDel)
            delUrl: prefix + "/del",
            modalName: '<$>{i18n("${menuName}")}',
#end
            uniqueId:  #foreach($column in $columns)#if($column.pk)'${column.javaField}',#end#end/* 唯一ID */
            showPageGo: true,/* 分页设置 */
            pageSize: 10,/* 分页设置 */
            pageList: [10, 30, 50],/* 分页设置 */
#if($table.master)
            detailView: true,
            onExpandRow : function(index, row, <$>detail) {
                initChildTable(index, row, <$>detail);
            },
#end
            columns:[
                {title: $.i18n.text("序号"), width: 5, align: "center", formatter: function (value, row, index) {
                    return $.table.serialNumber(index);
                }}
#set($masterPk = "")
#foreach($c in $columns)
#set($dictType=$c.dictType)
#set($parentheseIndex=$c.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($com=$c.columnComment.substring(0, $parentheseIndex))
#else
#set($com=$c.columnComment)
#end
#if($c.pk)
#set($masterPk = $c.javaField)
                ,{field : '${c.javaField}',title : '<$>{i18n("${com}")}',visible: false}
#end
#if($c.list)
#if($c.list && $c.dictType &&"" != $c.dictType)
                ,{field : '${c.javaField}',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end,formatter: function(value, row, index) {
                    ##return opt.common.selectDictLabels(${c.javaField}Datas, value);
                    return opt.common.selectDictLabels('${c.dictType}', value);
                }}
#elseif($c.list && "" != ${c.javaField})
#if(${c.htmlType} == "comp")
                ,{field : 'company.name',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end }
#elseif(${c.htmlType} == "dept")
                ,{field : 'organization.name',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end }
#elseif(${c.htmlType} == "user")
                ,{field : 'sysUser.name',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end }
#elseif(${c.htmlType} == "imgcup")
                ,{field : '${c.javaField}',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end,formatter: function(value, row, index) {
                     return $.table.imageView(baseURL+'sys/comm/fileAvatarView?filePath=' +value );
                }}
#else
                ,{field : '${c.javaField}',title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end}
#end
#end
#end
#end
#if($table.crud || $table.master)
                ,{title:"<$>{i18n("操作")}",align: 'center',visible:visible#if($table.actionsType == "icon"),class:'action'#end,formatter: function(value, row, index) {
                    var actions = [];
#if(${table.actionsType} == "default")
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="#if($table.target == "tab")opt.operate.editTab#else opt.operate.edit#end(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-edit"></i><$>{i18n("编辑")}</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + delFlag + '" href="javascript:void(0)" onclick="opt.operate.del(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-remove"></i><$>{i18n("删除")}</a>');
#elseif(${table.actionsType} == "icon")
                    actions.push('<a class="' + editFlag + '" href="javascript:void(0)" title="<$>{i18n("编辑")}" onclick="#if($table.target == "tab")opt.operate.editTab#else opt.operate.edit#end(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-edit"></i></a> ');
                    actions.push('<a class="' + delFlag + '" href="javascript:void(0)" title="<$>{i18n("删除")}" onclick="opt.operate.del(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-trash-o"></i></a> ');
#end
                    return actions.join('');
                }}
#elseif($table.r && $table.rDel)
                ,{title:"<$>{i18n("操作")}",align: 'left',visible:visible#if($table.actionsType == "icon"),class:'action'#end,formatter: function(value, row, index) {
                    var actions = [];
#if($table.actionsType == "default")
                    actions.push('<a class="btn btn-danger btn-xs ' + delFlag + '" href="javascript:void(0)" onclick="opt.operate.del(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-remove"></i><$>{i18n("删除")}</a>');
#elseif($table.actionsType == "icon")
                    actions.push('<a class="' + delFlag + '" href="javascript:void(0)" title="<$>{i18n("删除")}" onclick="opt.operate.del(\'' + row.${pkColumn.javaField} + '\')"><i class="fa fa-trash-o"></i></a> ');
#end
                    return actions.join('');
                }}
#end
            ]
        };
        $.table.init(options);
    });
#if($table.master)

    function initChildTable(index, row, <$>detail) {
        <$>detail.html('<table id="child_'+index+'" style="table-layout:fixed"></table>').find('table');
        var tableId = "child_"+index;
        $("#" + tableId).bootstrapTable({
            url: prefix + "/child/list",
            method: 'post',
            sidePagination: "server",
            pagination: true,
            pageSize: 10,
            pageList: [10, 15, 20],
            contentType: "application/x-www-form-urlencoded",
            queryParams : function(params) {
                var curParams = {
                /* 传递参数查询参数 */
                __limit: params.limit,
                __page: params.offset / params.limit + 1,
                searchValue: params.search,
                ${fKey.javaField}: row.${masterPk},
                __sidx: params.sort,
                __order: params.order
                };
                return curParams;
            },
            columns: [
                {title: $.i18n.text("序号"), width: 50, align: "center", formatter: function (value, row, index) {
                    return $.table.serialNumber(index,tableId);
                }}
#foreach($c in $childColumns)
#set($dictType=$c.dictType)
#set($parentheseIndex=$c.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($com=$c.columnComment.substring(0, $parentheseIndex))
#else
#set($com=$c.columnComment)
#end
#if($c.pk)
                ,{field : '${c.javaField}',title : '<$>{i18n("${com}")}',visible: false}
#end
#if($c.list)
#if($c.list && $c.dictType && "" != $c.dictType)
                ,{field : '${c.javaField}',align: "center",title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end,formatter: function(value, row, index) {
                    ##return opt.common.selectDictLabels(${c.javaField}Datas, value); }}
                    return opt.common.selectDictLabels('${c.dictType}', value);}}
#elseif($c.list && "" != ${c.javaField})
#if(${c.htmlType} == "comp")
                ,{field : 'company.name',align: "center",title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end }
#elseif(${c.htmlType} == "dept")
                ,{field : 'organization.name',align: "center",title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end }
#else
                ,{field : '${c.javaField}',align: "center",title : '<$>{i18n("${com}")}'#if($c.tableSort),sortable: true#end}
#end
#end
#end
#end
            ]
        });
    };
#end
</script>
</@footer>
</@pageTheme>