<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.j2eefast.framework.quartz.mapper.SysJobLogMapper">

    <sql id="sysJobLogColumns">
         a.id AS "id" ,
         a.job_id AS "jobId" ,
         a.job_name AS "jobName" ,
         a.job_group AS "jobGroup" ,
         a.invoke_target AS "invokeTarget" ,
         a.status AS "status" ,
         a.error AS "error" ,
         a.times AS "times" ,
         a.create_time AS "createTime"
     </sql>

	<update id="cleanJobLog">
    <!-- truncate table sys_job_log -->
        DELETE FROM sys_job_log
    </update>

    <select id="findPage" resultType="com.j2eefast.framework.quartz.entity.SysJobLogEntity">
        SELECT
        <include refid="sysJobLogColumns"/>
        FROM sys_job_log a
        <where>
            <if test="sysJobLog.jobName != null  and sysJobLog.jobName != ''">
                AND a.job_name LIKE
                <choose>
                    <when test="_databaseId == 'oracle'">'%,'||#{sysJobLog.jobName}||',%'</when>
                    <otherwise>CONCAT('%', #{sysJobLog.jobName}, '%')</otherwise>
                </choose>
            </if>
            <if test="sysJobLog.jobGroup != null  and sysJobLog.jobGroup != ''"> AND a.job_group = #{sysJobLog.jobGroup} </if>
            <if test="sysJobLog.status != null  and sysJobLog.status != ''"> AND a.status = #{sysJobLog.status} </if>
            <if test="_databaseId == 'mysql'">
                <if test="sysJobLog.beginTime != null and sysJobLog.beginTime != ''">
                    AND date_format(a.create_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{sysJobLog.beginTime},'%y%m%d')
                </if>
                <if test="sysJobLog.endTime != null and sysJobLog.beginTime != null  and sysJobLog.endTime != '' and sysJobLog.endTime != sysJobLog.beginTime">
                    AND date_format(a.create_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{sysJobLog.beginTime},'%y%m%d')
                </if>
            </if>
            <if test="_databaseId == 'postgresql'">
                <if test="sysJobLog.beginTime != null and sysJobLog.beginTime != ''">
                    AND a.create_time <![CDATA[ >= ]]> '${sysJobLog.beginTime}'::timestamp
                </if>
                <if test="sysJobLog.beginTime != null  and sysJobLog.endTime != ''">
                    AND a.create_time <![CDATA[ < ]]> ('${sysJobLog.endTime}'::timestamp + '1 day')
                </if>
            </if>
        </where>
    </select>
</mapper>