package ${packageName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
##### 如果是主子表主表
#if($table.master)
import ${packageName}.entity.${childTable.className}Entity;
import java.util.List;
#end
#foreach ($column in $columns)##
#if(!$table.isSuperColumn($column.javaField))####
#if($column.javaType == 'Date')##
import com.fasterxml.jackson.annotation.JsonFormat;
#break
#end
#end
#end
#foreach ($column in $columns)##
#if(!$table.isSuperColumn($column.javaField))####
#if($column.javaField == 'delFlag')##
import com.baomidou.mybatisplus.annotation.TableLogic;
#break
#end
#end
#end
import lombok.Data;
#if($table.crud)
#set($Entity="extends BaseEntity")
import com.j2eefast.common.core.base.entity.BaseEntity;
#else
#set($EntityFlag="0")
#foreach ($column in $columns)##
#if($table.isSuperColumn($column.javaField))####
#set($EntityFlag="1")#break
#end
#end
#if($EntityFlag == "0")
#set($Entity="implements Serializable")
import java.io.Serializable;
#else
#set($Entity="extends BaseEntity")
import com.j2eefast.common.core.base.entity.BaseEntity;
#end
#end
#foreach ($import in $importList)
import ${import};
#end
#foreach ($column in $columns)##
#if($column.htmlType == 'comp')##
import com.j2eefast.framework.sys.entity.SysCompEntity;
#elseif($column.htmlType == 'user')##
import com.j2eefast.framework.sys.entity.SysUserEntity;
#elseif($column.htmlType == 'dept')##
import com.j2eefast.framework.sys.entity.SysDeptEntity;
#end
#end

/**
 * ${tableName}
 * @author: ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${ClassName}Entity ${Entity}{

    private static final long serialVersionUID = 1L;#####
#foreach ($column in $columns)##
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#if($table.crud)#### CRUE
#if(!$table.isSuperColumn($column.javaField))####


    /** $column.columnComment */####
#if($column.javaField == 'delFlag')##

    @TableLogic###
    @TableField(value = "del_flag", fill = FieldFill.INSERT)###
#end
#if($column.plus)##
    @TableField(exist = false)
#if($column.javaType == 'Date')##
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss" , timezone = "GMT+8")
#end##
    private $column.javaType $column.javaField;###
#else##
#if($column.pk) #* 是表主键*#
#if($column.increment)#### #* 是主键*#
	@TableId(type = IdType.AUTO)###

    private $column.javaType $column.javaField;###
#else
    @TableId(value = "$column.columnName",type = IdType.ASSIGN_ID)
    private $column.javaType $column.javaField;###
#end
#else
#if($column.queryType == "BETWEEN")
    @TableField(exist = false)  
    private $column.javaType begin$AttrName;###  //between 查询用
    @TableField(exist = false)
    private $column.javaType end$AttrName;###   //between 查询用
#end 
#if($column.javaType == 'Date')####

    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss" , timezone = "GMT+8")####
#end
#if($column.required)## #*是否未必填项*#
#if($column.javaType == 'String')###

    @NotBlank(message = "参数值不能为空")###
#else##

    @NotNull(message = "参数值不能为空")###
#end
#end###

    private $column.javaType $column.javaField;####
#if($column.htmlType == "comp")####

    @TableField(exist=false)
    private SysCompEntity company;####
#end##
#if($column.htmlType == "dept")####

    @TableField(exist=false)
    private SysDeptEntity organization;####
#end##
#if($column.htmlType == "user")####

    @TableField(exist=false)
    private SysUserEntity sysUser;####
#end##
#end
#end
#end
#else  ### NO -CRUE
#if(!$table.isSuperColumn($column.javaField))####


    /** $column.columnComment */
#if($column.javaField == 'delFlag')##
    @TableLogic###
    @TableField(value = "del_flag", fill = FieldFill.INSERT)####

#end##
#if($column.plus)
    @TableField(exist = false)
#if($column.javaType == 'Date')
	#if($column.queryType == "BETWEEN")
	    @TableField(exist = false)  
	    private $column.javaType begin$AttrName;
	    @TableField(exist = false)
	    private $column.javaType end$AttrName;
	#end###
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss" , timezone = "GMT+8")####
#end
    private $column.javaType $column.javaField;
#else
#if($column.pk)####* 是表主键*#
#if($column.increment)####* 是主键自增型*#
	@TableId(type = IdType.AUTO)
    private $column.javaType $column.javaField;####
#else
    @TableId(value = "$column.columnName",type = IdType.ASSIGN_ID)
    private $column.javaType $column.javaField;#####
#end
#else### 普通不是主键
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss" , timezone = "GMT+8")
#end
#if($column.required)###*是否未必填项*#
#if($column.javaType == 'String')#####
    @NotBlank(message = "参数值不能为空")####

#else##
    @NotNull(message = "参数值不能为空")#####

#end
#end
    private $column.javaType $column.javaField;####
#if($column.htmlType == "comp")##

    @TableField(exist=false)
    private SysCompEntity company;###
####
#end####
#if($column.htmlType == "user")##

    @TableField(exist=false)
    private SysUserEntity sysUser;###
####
#end####
#if($column.htmlType == "dept")##

    @TableField(exist=false)
    private SysDeptEntity organization;####
####
#end##
#end
#end
#end
#end
#end
#if($table.master)
    #set($classEnty = $childTable.className.substring(0,1).toLowerCase() + $childTable.className.substring(1))


    @TableField(exist=false)
    private List<${childTable.className}Entity> ${classEnty};
#end
}
