<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysFileMapper">

    <!--  实体栏位  --> 
    <sql id="sysFilesColumns">
         a.id AS "id"   ,
          a.file_md5 AS "fileMd5"   ,
          a.file_path AS "filePath"   ,
          a.file_name AS "fileName"   ,
          a.file_size AS "fileSize",
          a.classify AS "classify",
          a.update_by AS "updateBy",
          a.oss_type AS "ossType",
          a.create_time AS "createTime",
          a.create_by AS "createBy"
          , up.biz_type  AS "fileUpload.bizType"
          , up.biz_id  AS "fileUpload.bizId"
          , CASE WHEN up.biz_type IS NULL  THEN  '1' WHEN up.del_flag = '1' THEN '2' ELSE  '0' END   AS  "status"
      </sql>
    
     <!-- 外联表  --> 
	<sql id="sysFilesJoins">
         LEFT JOIN sys_file_upload up ON a.id = up.file_id
    </sql>

    <!-- 根据获取实体List   -->
    <select id="selectSysFilesList" resultType="com.j2eefast.framework.sys.entity.SysFilesEntity">
        SELECT
        <include refid="sysFilesColumns"/>
        FROM sys_file a
        <include refid="sysFilesJoins"/>
        <where>
            up.del_flag = '0'
            <if test="bizId != null  and bizId != ''">
                AND up.biz_id = #{bizId}
            </if>
            <if test="bizType != null  and bizType != ''">
                AND up.biz_type = #{bizType}
            </if>
        </where>
    </select>
	 
    <!-- 根据获取实体 page   -->
    <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysFilesEntity">
        SELECT
        <include refid="sysFilesColumns"/>
        FROM sys_file a
        <include refid="sysFilesJoins"/>
        <where>
            <if test="sysFiles.fileName != null  and sysFiles.fileName != ''">
                AND a.file_name LIKE
                <choose>
                    <when test="_databaseId == 'oracle'">'%,'||#{sysFiles.fileName}||',%'</when>
                    <otherwise>CONCAT('%', #{sysFiles.fileName}, '%')</otherwise>
                </choose>
            </if>
            <if test="sysFiles.fileSize != null  and sysFiles.fileSize != ''">
                AND a.file_size > #{sysFiles.fileSize}
            </if>
            <if test="sysFiles.fileUpload !=null and sysFiles.fileUpload.delFlag != null  and sysFiles.fileUpload.delFlag != ''">
                AND up.del_flag = '0'
            </if>
            <if test="sysFiles.fileUpload !=null and  sysFiles.fileUpload.bizId != null  and sysFiles.fileUpload.bizId != ''">
                AND up.biz_id = #{sysFiles.fileUpload.bizId}
            </if>
            <if test="sysFiles.fileUpload !=null and sysFiles.fileUpload.bizType != null  and sysFiles.fileUpload.bizType != ''">
                AND up.biz_type = #{sysFiles.fileUpload.bizType}
            </if>
        </where>
    </select>
    
</mapper>