<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysFileMapper">


    
    <resultMap type="SysFilesEntity" id="sysFilesEntityResult">
       <result property="id"    column="id"    />
       <result property="fileMd5"    column="file_md5"    />
       <result property="filePath"    column="file_path"    />
       <result property="fileName"    column="file_name"    />
       <result property="fileSize"    column="file_size"    />
        <result property="classify"    column="classify"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
     </resultMap>
    
    <!--  实体栏位  --> 
    <sql id="sysFilesColumns">
         a.id as "id"   ,                 
          a.file_md5 as "fileMd5"   ,                 
          a.file_path as "filePath"   ,                 
          a.file_name as "fileName"   ,                 
          a.file_size as "fileSize",
          a.classify as "classify",
          a.update_by as "updateBy",
          a.create_time as "createTime",
          a.create_by as "createBy"
          , up.biz_type  as "fileUpload.bizType"
          , up.biz_id  as "fileUpload.bizId"
          , CASE WHEN up.biz_type IS NULL  THEN  '1' WHEN up.del_flag = 1 THEN '2' ELSE  '0' END   as  "status"
      </sql>
    
     <!-- 外联表  --> 
	<sql id="sysFilesJoins">
         left join sys_file_upload up ON a.id = up.file_id
    </sql>

    
     <!--  根据获取实体List   -->
     <select id="selectSysFilesList" resultType="com.j2eefast.framework.sys.entity.SysFilesEntity">
		SELECT 
			<include refid="sysFilesColumns"/>
         FROM sys_file a
        <include refid="sysFilesJoins"/>
		<where>
            up.del_flag = '0'
            <if test="bizId != null  and bizId != ''">
                     and up.biz_id = #{bizId}
			</if>
            <if test="bizType != null  and bizType != ''">
                and up.biz_type = #{bizType}
            </if>
        </where>
	 </select>
	 
	 
	  <!--  根据获取实体 page   -->
     <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysFilesEntity">
		SELECT 
			<include refid="sysFilesColumns"/>
		FROM sys_file a
         <include refid="sysFilesJoins"/>
		<where>
               <if test="sysFiles.fileName != null  and sysFiles.fileName != ''">
                     and a.file_name LIKE
                     <if test="_databaseId == 'oracle'"> '%'||#{sysFiles.fileName}||'%'</if>
                     <if test="_databaseId == 'mssql'">'%'+#{sysFiles.fileName}+'%'</if>
                     <if test="_databaseId == 'mysql'">concat('%',#{sysFiles.fileName},'%')</if>
			    </if>
			      <if test="sysFiles.fileSize != null  and sysFiles.fileSize != ''">
                     and a.file_size > #{sysFiles.fileSize}
                    
			    </if>
			    
			   <if test="sysFiles.fileUpload !=null and sysFiles.fileUpload.delFlag != null  and sysFiles.fileUpload.delFlag != ''">   
                 up.del_flag = '0'
                 </if>
            <if test="sysFiles.fileUpload !=null and  sysFiles.fileUpload.bizId != null  and sysFiles.fileUpload.bizId != ''">
                     and up.biz_id = #{sysFiles.fileUpload.bizId}
			</if>
            <if test="sysFiles.fileUpload !=null and sysFiles.fileUpload.bizType != null  and sysFiles.fileUpload.bizType != ''">
                and up.biz_type = #{sysFiles.fileUpload.bizType}
            </if>
               
		</where>
	 </select>
	 
	 

</mapper>