<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysTenantMapper">

    <!--  实体栏位  --> 
    <sql id="sysTenantColumns">
         a.id AS "id" ,
         a.tenant_id AS "tenantId" ,
         a.tenant_name AS "tenantName" ,
         a.linkman AS "linkman" ,
         a.link AS "link" ,
         a.address AS "address" ,
         a.status AS "status" ,
         a.del_flag AS "delFlag" ,
         a.create_by AS "createBy" ,
         a.create_time AS "createTime" ,
         a.update_by AS "updateBy" ,
         a.update_time AS "updateTime" ,
         a.remark AS "remark" 
    </sql>

    <!--  根据主键获取实体   -->
    <select id="findSysTenantById"  resultType="com.j2eefast.framework.sys.entity.SysTenantEntity" >
        SELECT
        <include refid="sysTenantColumns"/>
		FROM  sys_tenant a
		WHERE a.id = #{id}
    </select>

    <select id="findSysTenantByIdTenantId"  resultType="com.j2eefast.framework.sys.entity.SysTenantEntity" >
        SELECT
        <include refid="sysTenantColumns"/>
        FROM  sys_tenant a
        WHERE a.tenant_id = #{tenantId}
    </select>

    <!--  根据获取实体List   -->
    <select id="findList" resultType="com.j2eefast.framework.sys.entity.SysTenantEntity">
        SELECT
        <include refid="sysTenantColumns"/>
        FROM sys_tenant a
		<where>
            a.del_flag = '0'
            <if test="tenantId != null  and tenantId != ''"> AND a.tenant_id = #{tenantId} </if>
            <if test="tenantName != null  and tenantName != ''">
                AND a.tenant_name LIKE
                CONCAT('%',#{tenantName},'%')
            </if>
            <if test="linkman != null  and linkman != ''"> AND a.linkman = #{linkman} </if>
            <if test="link != null  and link != ''"> AND a.link = #{link} </if>
            <if test="status != null  and status != ''"> AND a.status = #{status} </if>
        </where>
    </select>

    <!-- 根据获取实体 page -->
    <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysTenantEntity">
        SELECT
        <include refid="sysTenantColumns"/>
        FROM sys_tenant a
        <where>
            a.del_flag = '0'
            <if test="sysTenant.tenantId != null  and sysTenant.tenantId != ''"> AND a.tenant_id = #{sysTenant.tenantId} </if>
            <if test="sysTenant.tenantName != null  and sysTenant.tenantName != ''">
                AND a.tenant_name LIKE
                CONCAT('%',#{sysTenant.tenantName},'%')
            </if>
            <if test="sysTenant.linkman != null  and sysTenant.linkman != ''"> AND a.linkman = #{sysTenant.linkman} </if>
            <if test="sysTenant.link != null  and sysTenant.link != ''"> AND a.link = #{sysTenant.link} </if>
            <if test="sysTenant.status != null  and sysTenant.status != ''"> AND a.status = #{sysTenant.status} </if>
            <if test = "sql_filter !=null and sql_filter!=''">
                AND ${sql_filter}
            </if>
        </where>
    </select>

</mapper>