<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysUserMapper">

    <!--分页查询 -->
    <sql id="sqlpage">
        SELECT u.id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.avatar,u.create_time,
        u.dept_id,u.comp_id,d.name AS deptName,
        <if test="_databaseId == 'oracle'">
            NVL(c.name,'总公司') AS comp_name,
            LISTAGG(TO_CHAR(l.role_name), ',') within GROUP( ORDER BY u.id) AS role_name
        </if>
        <if test="_databaseId == 'mysql'">
            IFNULL(c.name,'总公司') AS comp_name,
            GROUP_CONCAT(l.role_name) AS role_name
        </if>
        <if test=" _databaseId  == 'postgresql'">
            COALESCE(c.name,'总公司') AS comp_name,
            ARRAY_TO_STRING(ARRAY_AGG(l.role_name),',') AS role_name
        </if>
        <if test="_databaseId == 'sqlserver'">
            ISNULL(c.name,'总公司') AS comp_name,
            STRING_AGG(l.role_name,',') AS role_name
        </if>
        FROM sys_user u
        LEFT JOIN (SELECT id,name FROM sys_comp) c ON u.comp_id = c.id
        LEFT JOIN (SELECT id, name, parent_ids FROM sys_comp) d ON u.dept_id = d.id
        LEFT JOIN (SELECT user_id, role_id FROM sys_user_role)  r ON u.id = r.user_id
        LEFT JOIN (SELECT id, role_name, role_key FROM sys_role) l ON r.role_id = l.id
    </sql>

    <!-- 条件语句-->
    <sql id="selectConditions">
        <if test = "username !=null and username!=''">
            AND u.username LIKE
            <choose>
                <when test="_databaseId == 'oracle'">'%,'||#{username}||',%'</when>
                <otherwise>CONCAT('%', #{username}, '%')</otherwise>
            </choose>
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE
            <choose>
                <when test="_databaseId == 'oracle'">'%,'||#{mobile}||',%'</when>
                <otherwise>CONCAT('%', #{mobile}, '%')</otherwise>
            </choose>
        </if>
        <if test="email != null and email != ''">
            AND u.email LIKE
            <choose>
                <when test="_databaseId == 'oracle'">'%,'||#{email}||',%'</when>
                <otherwise>CONCAT('%', #{email}, '%')</otherwise>
            </choose>
        </if>
    </sql>

    <sql id="selectsysUserVo">
        SELECT u.id AS "id", u.username AS "username", u.name AS "name", u.password AS "password",
        u.salt AS "salt", u.email AS "email", u.mobile AS "mobile", u.status AS "status", u.pwd_security_level AS "pwdSecurityLevel",
        u.pwd_update_date AS "pwdUpdateDate", u.comp_id AS "compId", u.dept_id AS "deptId",
        u.create_time AS "createTime", u.card_id AS "cardId", u.avatar AS "avatar", u.update_time AS "updateTime",
        u.update_by AS "updateBy", u.create_by AS "createBy", u.remark AS "remark",u.tenant_id AS "tenantId"
    </sql>

    <sql id="selectRoleToUserVo">
        SELECT u.id AS id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id,
        <if test="_databaseId == 'oracle'">NVL(c.name,'总公司') AS comp_name</if>
        <if test="_databaseId == 'mysql'">IFNULL(c.name,"总公司") AS comp_name</if>
        <if test=" _databaseId  == 'postgresql'">COALESCE(c.name,'总公司') AS comp_name</if>
        <if test="_databaseId == 'sqlserver'">ISNULL(c.name,'总公司') AS comp_name,</if>
        FROM sys_user u
        LEFT JOIN sys_user_role r ON u.id = r.user_id
        LEFT JOIN sys_comp c ON u.comp_id = c.id
    </sql>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="sysUserEntity">
        UPDATE sys_user
        <set>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="email != null and email != ''">email = #{email,jdbcType=VARCHAR},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile,jdbcType=VARCHAR},</if>
            <if test="status != null and status != ''">status = #{status,jdbcType=INTEGER},</if>
            <if test="compId != null">comp_id = #{compId,jdbcType=INTEGER},</if>
            <if test="deptId != null">dept_id = #{deptId,jdbcType=INTEGER},</if>
            <if test="cardId != null and cardId != ''">card_id = #{cardId,jdbcType=VARCHAR},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar,jdbcType=VARCHAR},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy,jdbcType=VARCHAR},</if>
            <if test="remark != null and remark != ''">remark = #{remark,jdbcType=VARCHAR},</if>
            <if test="_databaseId == 'mysql'">update_time = SYSDATE()</if>
            <if test=" _databaseId  == 'postgresql'">update_time = CLOCK_TIMESTAMP()</if>
            <if test=" _databaseId  == 'sqlserver'">update_time = GETDATE()</if>
            <if test=" _databaseId  == 'oracle'">update_time = TO_TIMESTAMP(TO_CHAR(SYSDATE,'YYYY-MM-DD')||TO_CHAR(SYSDATE,'hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改密码-->
    <update id="updatePassWord">
        UPDATE sys_user
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="salt != null and salt != ''">salt = #{salt},</if>
            <if test="pwdSecurityLevel != null and pwdSecurityLevel != ''">pwd_security_level = #{pwdSecurityLevel},</if>
            <if test="_databaseId == 'mysql'">update_time = SYSDATE()</if>
            <if test=" _databaseId  == 'postgresql'">update_time = CLOCK_TIMESTAMP()</if>
            <if test=" _databaseId  == 'sqlserver'">update_time = GETDATE()</if>
            <if test=" _databaseId  == 'oracle'">update_time = TO_TIMESTAMP(TO_CHAR(SYSDATE,'YYYY-MM-DD')||TO_CHAR(SYSDATE,'hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改头像-->
    <update id="updateAvatar">
        UPDATE sys_user
        <set>
            <if test="avatar != null and avatar != ''">avatar = #{avatar,jdbcType=VARCHAR},</if>
            <if test="_databaseId == 'mysql'">update_time = SYSDATE()</if>
            <if test=" _databaseId  == 'postgresql'">update_time = CLOCK_TIMESTAMP()</if>
            <if test=" _databaseId  == 'sqlserver'">update_time = GETDATE()</if>
            <if test=" _databaseId  == 'oracle'">update_time = TO_TIMESTAMP(TO_CHAR(SYSDATE,'YYYY-MM-DD')||TO_CHAR(SYSDATE,'hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss')</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 登录使用-->
    <select id="findUserByUserName" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        ,t.tenant_name AS "tenantName"
        FROM sys_user u
        LEFT JOIN sys_tenant t ON u.tenant_id = t.tenant_id
        WHERE u.username = #{userName} AND u.del_flag = '0'
        <if test = "tenantId !=null and tenantId!=''">
            AND u.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="findUserByUserNameNoDel" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        ,t.tenant_name AS "tenantName"
        FROM sys_user u
        LEFT JOIN sys_tenant t ON u.tenant_id = t.tenant_id
        WHERE u.username = #{userName}
    </select>

	<!-- 第三方登录通过uuid获取用户 -->
    <select id="findAuthByUuid" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        ,t.tenant_name AS "tenantName"
        FROM sys_auth_user a 
        LEFT JOIN sys_user u ON a.user_id = u.id
        LEFT JOIN sys_tenant t ON a.tenant_id = t.tenant_id
        WHERE a.uuid = #{uuid} 
        AND u.del_flag = '0'
        <if test = "tenantId !=null and tenantId!=''">
            AND a.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="findAuthByUserName" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT b.id AS "id", b.username AS "username",b. name AS "name", b.password AS "password",
        b.salt AS "salt", b.email AS "email", b.mobile AS "mobile", b.status AS "status", b.pwd_security_level AS "pwdSecurityLevel",
        b.pwd_update_date AS "pwdUpdateDate", b.comp_id AS "compId", b.dept_id AS "deptId",
        b.create_time AS "createTime", b.card_id AS "cardId", b.avatar AS "avatar", b.update_time AS "updateTime", a.source AS "source",
        b.update_by AS "updateBy", b.create_by AS "createBy", b.remark AS "remark" FROM sys_auth_user a LEFT JOIN sys_user b ON a.user_id = b.id
        WHERE b.username = #{username} AND b.del_flag = '0'
    </select>

    <select id="findUserByMobile" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        ,t.tenant_name AS "tenantName"
        FROM sys_user u
        LEFT JOIN sys_tenant t ON u.tenant_id = t.tenant_id
        WHERE u.mobile = #{mobile} AND u.del_flag = '0'
        <if test = "tenantId !=null and tenantId!=''">
            AND u.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="findUserByEmail" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="selectsysUserVo"/>
        ,t.tenant_name AS "tenantName"
        FROM sys_user u
        LEFT JOIN sys_tenant t ON u.tenant_id = t.tenant_id
        WHERE u.email = #{email} AND u.del_flag = '0'
        <if test = "tenantId !=null and tenantId!=''">
            AND u.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="findCompNameByUserId" resultType="String">
        SELECT ur.name AS CompName
        FROM  sys_user u
        LEFT JOIN sys_comp ur ON ur.id = u.comp_id
        WHERE u.id = #{id} AND u.del_flag != '1'
    </select>
    
    <select id="findDeptNameByUserId" resultType="String">
        SELECT ur.name AS DeptName
        FROM  sys_user u
        LEFT JOIN sys_comp ur ON ur.id = u.dept_id
        WHERE u.id = #{id} AND u.del_flag != '1'
    </select>

    <!-- 查询用户的所有菜单ID -->
    <select id="findAllMenuId" resultType="long">
		SELECT DISTINCT rm.menu_id FROM sys_user_role ur
        LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
		WHERE ur.user_id = #{id}
	</select>
	
	<!-- 查询手机是否存在系统 -->
	<select id="findIsMobile" resultType="Integer">
		SELECT count(1) FROM sys_user u
		WHERE u.mobile = #{mobile}
		<if test = "tenantId !=null and tenantId!=''">
            AND u.tenant_id = #{tenantId}
        </if>
	</select>

    <!--查询机构下角色的手机号码 -->
    <select id="findMobilesByUserId" resultType="String">
        SELECT u.mobile AS mobile
        FROM  sys_user u
        LEFT JOIN sys_user_role r ON u.id = r.user_id
        LEFT JOIN sys_role l ON r.role_id = l.id
        WHERE  u.del_flag != '1'
        <if test = "deptId !=null and deptId!=''">
            AND u.dept_id = #{deptId}
        </if>
        <if test = "roleKey !=null and roleKey!=''">
            AND l.role_key = #{roleKey}
        </if>
    </select>

    <!--查询机构下角色的邮箱 -->
    <select id="findEmailsByUserId" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT u.id AS id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id
        FROM  sys_user u
        LEFT JOIN sys_user_role r ON u.id = r.user_id
        LEFT JOIN sys_role l ON r.role_id = l.id
        WHERE  u.del_flag != '1'
        <if test = "deptId !=null and deptId!=''">
            AND u.dept_id = #{deptId}
        </if>
        <if test = "roleKey !=null and roleKey!=''">
            AND l.role_key = #{roleKey}
        </if>
    </select>

    <!-- 用户页面表格 分页查询-->
    <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE u.del_flag = '0'
        <include refid="selectConditions"/>
        <if test="name != null and name != ''">
            AND u.name LIKE
            <choose>
                <when test="_databaseId == 'oracle'">'%,'||#{name}||',%'</when>
                <otherwise>CONCAT('%', #{name}, '%')</otherwise>
            </choose>
        </if>
        <if test = "status !=null and status!=''">
            AND u.status = #{status}
        </if>
        <if test = "roleKey !=null and roleKey!=''">
            AND l.role_key = #{roleKey}
        </if>
        <if test = "noId !=null and noId !=''">
            AND u.id != #{noId}
        </if>
        <if test="compId != null and compId !=''">
            <if test="_databaseId == 'mysql'">AND (FIND_IN_SET(#{compId},d.parent_ids)</if>
            <if test="_databaseId == 'postgresql'">AND ('${compId}' = ANY(STRING_TO_ARRAY(d.parent_ids, ','))</if>
            <if test="_databaseId == 'oracle'">AND (INSTR(','||d.parent_ids||',',',${compId},') > 0</if>
            <if test="_databaseId == 'sqlserver'">AND (CHARINDEX(','+'${compId}'+',', ','+d.parent_ids+',') > 0</if>
            OR (u.dept_id = #{compId} AND u.del_flag = '0'))
        </if>
        <if test="deptId != null and deptId != ''">
            <choose>
                <when test="_databaseId == 'postgresql'">AND u.dept_id  = '${deptId}'</when>
                <otherwise>AND u.dept_id  = #{deptId}</otherwise>
            </choose>
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <choose>
            <when test="_databaseId == 'mysql'">GROUP BY u.id</when>
            <otherwise>GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name, d.name</otherwise>
        </choose>
    </select>

    <!-- 查询用户列表 -->
    <select id="findList" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE u.del_flag = '0'
        <include refid="selectConditions"/>
        <if test="compId != null and compId != ''">
            AND u.comp_id  = #{compId}
        </if>
        <if test="ids !=null and ids.length > 0">
            AND u.id IN
            <foreach collection="ids" item = "id" open="(" separator="," close=")" index="index">
                #{id}
            </foreach>
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <choose>
            <when test="_databaseId == 'mysql'">GROUP BY u.id</when>
            <otherwise>GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name, d.name</otherwise>
        </choose>
    </select>
    
    

    <select id="findUserByRolePage" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE
        u.del_flag = '0' AND
        r.role_id = #{roleId}
        <include refid="selectConditions"/>
        <if test = "status !=null and status!=''">
            AND u.status = #{status}
        </if>
        <if test="compId != null and compId !=''">
            <if test="_databaseId == 'mysql'">AND (FIND_IN_SET(#{compId},d.parent_ids)</if>
            <if test="_databaseId == 'postgresql'">AND ('${compId}' = ANY(STRING_TO_ARRAY(d.parent_ids, ','))</if>
            <if test="_databaseId == 'oracle'">AND (INSTR(','||d.parent_ids||',',',${compId},') > 0</if>
            <if test="_databaseId == 'sqlserver'">AND (CHARINDEX(','+'${compId}'+',', ','+d.parent_ids+',') > 0</if>
            OR (u.dept_id = #{compId} AND u.del_flag = '0'))
        </if>
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <choose>
            <when test="_databaseId == 'mysql'">GROUP BY u.id</when>
            <otherwise>GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name, d.name</otherwise>
        </choose>
    </select>

    <!-- 角色授权用户 还没有授权的用户列表-->
    <select id="findUnallocatedList" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        <include refid="sqlpage"/>
        WHERE (l.id != #{roleId} OR l.id IS NULL)
        AND u.id NOT IN (SELECT u.id FROM sys_user u INNER JOIN sys_user_role ur ON u.id = ur.user_id AND ur.role_id = #{roleId})
        AND u.del_flag = '0'
        <include refid="selectConditions"/>
        <if test="compId != null and compId !=''">
            <if test="_databaseId == 'mysql'">AND (FIND_IN_SET(#{compId},d.parent_ids)</if>
            <if test="_databaseId == 'postgresql'">AND ('${compId}' = ANY(STRING_TO_ARRAY(d.parent_ids, ','))</if>
            <if test="_databaseId == 'oracle'">AND (INSTR(','||d.parent_ids||',',',${compId},') > 0</if>
            <if test="_databaseId == 'sqlserver'">AND (CHARINDEX(','+'${compId}'+',', ','+d.parent_ids+',') > 0</if>
            OR (u.dept_id = #{compId} AND u.del_flag = '0'))
        </if>
        <!-- 数据范围过滤 -->
        <if test = "sql_filter !=null and sql_filter!=''">
            AND ${sql_filter}
        </if>
        <choose>
            <when test="_databaseId == 'mysql'">GROUP BY u.id</when>
            <otherwise>GROUP BY u.id,u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,u.dept_id,u.comp_id,c.name, d.name</otherwise>
        </choose>
    </select>

    <!-- 修改用户状态 -->
    <update id="setStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>

    <select id="findUserByUserId" resultType="com.j2eefast.framework.sys.entity.SysUserEntity">
        SELECT u.id AS id,
        u.username, u.name,u.password,u.salt,u.email,u.mobile,u.status,u.card_id,u.create_time,
        u.dept_id,u.comp_id,d.name AS deptName,u.avatar,
        <if test="_databaseId == 'oracle'">NVL(c.name,'总公司') AS comp_name</if>
        <if test="_databaseId == 'mysql'">IFNULL(c.name,"总公司") AS comp_name</if>
        <if test=" _databaseId  == 'postgresql'">COALESCE(c.name,'总公司') AS comp_name</if>
        <if test="_databaseId == 'sqlserver'">ISNULL(c.name,'总公司') AS comp_name</if>
        FROM sys_user u
        LEFT JOIN sys_comp c ON u.comp_id = c.id
        LEFT JOIN (SELECT id, name FROM sys_comp) d ON u.dept_id = d.id
        WHERE u.id = #{id} AND u.del_flag = '0'
    </select>

    <!-- 彻底清理用户信息-->
    <update id="cleanUser">
        DELETE FROM sys_user WHERE id = #{id}
    </update>
</mapper>