<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.framework.sys.mapper.SysUreportFileMapper">

    <!--  实体栏位  --> 
    <sql id="sysUreportFileColumns">
         a.id AS "id" ,
         a.name AS "name" ,
         a.file_name AS "fileName" ,
         a.content AS "content" ,
         a.create_time AS "createTime" ,
         a.update_time AS "updateTime" ,
         a.remark AS "remark",
         a.code AS "code",
         a.share AS "share",
         a.pass AS "pass",
         a.time AS "time"
    </sql>

    <!--  根据主键获取实体   -->
    <select id="findSysUreportFileById"  resultType="com.j2eefast.framework.sys.entity.SysUreportFileEntity" >
        SELECT
        <include refid="sysUreportFileColumns"/>
		FROM  sys_ureport_file a
		WHERE a.id = #{id}
    </select>
    
    <select id="getUreportFileByFileName"  resultType="com.j2eefast.framework.sys.entity.SysUreportFileEntity" >
        SELECT
        a.id AS "id" ,
        a.name AS "name" ,
        a.content AS "content",
        a.code AS "code",
        a.share AS "share",
        a.pass AS "pass",
         a.time AS "time"
		FROM  sys_ureport_file a
		WHERE a.name = #{name}
    </select>

    <!--  根据获取实体List   -->
    <select id="findList" resultType="com.j2eefast.framework.sys.entity.SysUreportFileEntity">
        SELECT
        <include refid="sysUreportFileColumns"/>
        FROM sys_ureport_file a
		<where>
            <if test="name != null  and name != ''">
                AND a.name LIKE
                CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>

    <!-- 根据获取实体 page -->
    <select id="findPage" resultType="com.j2eefast.framework.sys.entity.SysUreportFileEntity">
        SELECT
        <include refid="sysUreportFileColumns"/>
        FROM sys_ureport_file a
        <where>
            <if test="sysUreportFile.name != null  and sysUreportFile.name != ''">
                AND a.name LIKE
                CONCAT('%',#{sysUreportFile.name},'%')
            </if>
            <if test = "sql_filter !=null and sql_filter!=''">
                AND ${sql_filter}
            </if>
        </where>
    </select>

</mapper>